# Here We test Evaluators Based
- To assure the robustness of llm as a judge, we need to test with human-expert annotated data
- Step1: Evaluate with only Negative data with existing dataset -> Calculate FP, TN
- Step2: Evaluate with full positive and negative data by adding hand-made poistive set -> Calculate TP ,FN

### Make Negative Evaluation-pipeline test set from nl2sql_bug set
- Import nl2sql testest and create only-negative evaluation-pipeline test set

In [1]:
import pandas as pd
from azureml.fsspec import AzureMachineLearningFileSystem
from dotenv import load_dotenv
import os
import json

In [2]:
load_dotenv()
data_storage_uri = os.getenv("AZURE_DATASTORAGE_URI")
fs = AzureMachineLearningFileSystem(data_storage_uri)
fs.ls()

/anaconda/envs/nl2sql_ssfn/lib/python3.12/site-packages/requests/__init__.py:86: RequestsDependencyWarning: Unable to find acceptable character detection dependency (chardet or charset_normalizer).
  warnings.warn(
Overriding of current TracerProvider is not allowed
Overriding of current LoggerProvider is not allowed
Overriding of current MeterProvider is not allowed
Attempting to instrument while already instrumented
Attempting to instrument while already instrumented
Attempting to instrument while already instrumented
Attempting to instrument while already instrumented
Attempting to instrument while already instrumented

['UI/']

In [3]:
with fs.open('./UI/2025-07-25_003545_UTC/NL2SQL-Bugs-with-evidence.json') as f:
    data = json.load(f)

nl2sql_bug_df = pd.DataFrame(data)
nl2sql_bug_df["label"] = nl2sql_bug_df["label"].astype(bool)
len(nl2sql_bug_df.loc[nl2sql_bug_df["label"]== True])

1019

In [4]:
# 같은 Question은 공유하고 SQL은 다르게 적힌 True 있나 확인
dupes = (
    nl2sql_bug_df[nl2sql_bug_df["label"] == True]
    .groupby("question")
    #그룹 객체 대상으로 람다실행하고, 조건을 마족하는 원래 DataFrame의 row반환
    .filter(lambda x: len(x) > 1)
)
print(dupes) # 중복된 질문을 가진 True 라벨 row의 수
print(dupes["question"].unique())  # 어떤 question인지 보기

        id                                           question  \
1126  1126  Show me the season page of year when the race ...
1145  1145  Show me the season page of year when the race ...

                                               evidence      db_id  \
1126                      race number refers to raceId;  formula_1
1145  the season page refers to url; race number ref...  formula_1

                                                    sql  label error_types
1126  SELECT T2.url FROM races AS T1 INNER JOIN seas...   True          []
1145  SELECT T2.url FROM races AS T1 INNER JOIN seas...   True          []
['Show me the season page of year when the race No. 901 took place.']

In [5]:
# 0) Make sure your label column is really boolean
#    (if it's the strings "True"/"False" or ints 1/0, convert it)
nl2sql_bug_df["label"] = nl2sql_bug_df["label"].astype(bool)

# 1) Build a map from question → gold_sql (there must be at most one per question)
gold_map = (
    nl2sql_bug_df
    # 조건을 이용해 행선택하는 함수 
    .loc[nl2sql_bug_df["label"]]
    # 특정열을 인덱스로만 바꾸고, sql 만 선택  
    .set_index("question")["sql"]
    .to_dict()
)

len(gold_map)

1018

In [6]:
# 2) Walk through all FALSE‐label rows and emit one entry per pred_sql
eval_pipeline_test_list = []
for _, row in nl2sql_bug_df.loc[~nl2sql_bug_df["label"]].iterrows():
    q    = row["question"]
    pred = row["sql"]
    eval_pipeline_test_list.append({
        "question":    q,
        "gold_sql":    gold_map.get(q),       # ← will be None only if no True‐row ever existed
        "pred_sql":    pred,
        "label":       False,
        "evidence":    row["evidence"],
        "error_types": row["error_types"],
    })

In [7]:
eval_pipeline_test_df = pd.DataFrame(eval_pipeline_test_list)
eval_pipeline_test_df["gold_sql"].isnull().sum()
eval_pipeline_test_df = eval_pipeline_test_df.loc[eval_pipeline_test_df["gold_sql"].notnull()].copy()

In [8]:
eval_pipeline_test_df

,question,gold_sql,pred_sql,label,evidence,error_types
0,What is the highest eligible free rate for K-1...,SELECT MAX(CAST(`Free Meal Count (K-12)` AS RE...,SELECT max(`free meal count (k-12)`) / max(`en...,False,Eligible free rate for K-12 = `Free Meal Count...,"[{'error_type': 'Function-Related Errors', 'su..."
1,Please list the lowest three eligible free rat...,SELECT T2.`Free Meal Count (Ages 5-17)` / T2.`...,SELECT min(`free meal count (ages 5-17)`) FROM...,False,Eligible free rates for students aged 5-17 = `...,"[{'error_type': 'Attribute-Related Errors', 's..."
2,Please list the zip code of all the charter sc...,SELECT T2.Zip FROM frpm AS T1 INNER JOIN schoo...,SELECT schools.zip FROM schools INNER JOIN frp...,False,Charter schools refers to `Charter School (Y/N...,"[{'error_type': 'Value-Related Errors', 'sub_e..."
3,What is the unabbreviated mailing street addre...,SELECT T2.MailStreet FROM frpm AS T1 INNER JOI...,SELECT schools.streetabr FROM frpm INNER JOIN ...,False,,"[{'error_type': 'Attribute-Related Errors', 's..."
8,Among the schools with the SAT test takers of ...,SELECT T2.School FROM satscores AS T1 INNER JO...,SELECT schools.school FROM schools INNER JOIN ...,False,Magnet schools or offer a magnet program means...,"[{'error_type': 'Attribute-Related Errors', 's..."
...,...,...,...,...,...,...
986,For all the transactions happened during 8:00-...,SELECT count(transactions_1k.transactionid) FR...,select count(transactions_1k.transactionid) fr...,False,Czech Republic can be represented as the Count...,"[{'error_type': 'Attribute-Related Errors', 's..."
987,There's one customer spent 214582.17 in the Ju...,SELECT customers.currency FROM customers INNER...,select distinct customers.currency from custom...,False,June of 2013 means Date contains '201306' in t...,"[{'error_type': 'Value-Related Errors', 'sub_e..."
993,Which gas station has the highest amount of re...,SELECT gasstationid FROM transactions_1k GROUP...,select gasstations.gasstationid from gasstatio...,False,,"[{'error_type': 'Table-Related Errors', 'sub_e..."
997,For all the people who paid more than 29.00 pe...,SELECT T1.Consumption FROM yearmonth AS T1 INN...,select distinct yearmonth.consumption from yea...,False,August of 2012 refers to the Date value = '201...,"[{'error_type': 'Value-Related Errors', 'sub_e..."
998,For all the people who paid more than 29.00 pe...,SELECT T1.Consumption FROM yearmonth AS T1 INN...,SELECT DISTINCT CASE WHEN sum(transactions_1k....,False,August of 2012 refers to the Date value = '201...,"[{'error_type': 'Attribute-Related Errors', 's..."

### Evaluate llm-as-judge-raw-sql-evaluators 
- Testing with only False dataset

In [ ]:
import sys
import os
from evaluation.evaluators.llm_as_judge_raw_sql_evaluator import LLMasJudgeRawSQL
from azure.ai.evaluation import AzureOpenAIModelConfiguration
from dotenv import load_dotenv
from tqdm import tqdm

load_dotenv()

model_config = AzureOpenAIModelConfiguration(
    azure_endpoint= os.environ["AZURE_ENDPOINT"],
    azure_key = os.environ["AZURE_API_KEY"],
    azure_deployment = os.environ["AZURE_4O_DEPLOYMENT"],
    api_version = os.environ["AZURE_4O_API_VERSION"]
)

[INFO] Could not import AIAgentConverter. Please install the dependency with `pip install azure-ai-projects`.
[INFO] Could not import SKAgentConverter. Please install the dependency with `pip install semantic-kernel`.

In [ ]:
llm_sql_evaluator = LLMasJudgeRawSQL(model_config= model_config)
llm_raw_sql_pipeline_eval_result = []
for i, row in tqdm(eval_pipeline_test_df.iterrows(),ncols=100,colour="cyan", total= len(eval_pipeline_test_df)):
    question = row["question"]
    gold_sql = row["gold_sql"]
    pred_sql = row["pred_sql"]

    result = llm_sql_evaluator(question = question, gold_sql= gold_sql, pred_sql = pred_sql)
    result = json.loads(result)
    llm_raw_sql_pipeline_eval_result.append(
        {"question": question, "gold_sql": gold_sql, "pred_sql": pred_sql, "llm_judgement": result["label"], "reason": result["reason"]}
    )
    print(f"##### {i}th DEBUG LOG #####")
    print("Question:", question )
    print("Gold Sql:", gold_sql)
    print("Pred Sql:", pred_sql)
    print("LLM Judgement:", result["label"])
    print("Reason:", result["reason"])

In [ ]:
llm_raw_sql_pipeline_eval_df = pd.DataFrame(llm_raw_sql_pipeline_eval_result)

#Join with Original Eval test set 

merged_llm_raw_sql_pipeline_eval_df = pd.merge(eval_pipeline_test_df, llm_raw_sql_pipeline_eval_df, on="pred_sql", how='left')
merged_llm_raw_sql_pipeline_eval_df.drop(["question_y","gold_sql_y"], axis = 1)

fp = len(merged_llm_raw_sql_pipeline_eval_df[merged_llm_raw_sql_pipeline_eval_df["llm_judgement"] == "correct"])
tn = len(merged_llm_raw_sql_pipeline_eval_df[merged_llm_raw_sql_pipeline_eval_df["llm_judgement"] == "incorrect"])

print("Total:", len(merged_llm_raw_sql_pipeline_eval_df))
print("FP:", fp)
print("TN:", tn)
print(fp/tn*100)

Total: 551
FP: 98
TN: 453
21.63355408388521

### Evaluate Component Matching 
- Testing with Incorrect set

In [9]:
from evaluators.cm_evaluator import ComponentMatchingEvaluator
import json 
from tqdm import tqdm
import nltk

nltk.download('punkt')
nltk.download('punkt_tab')
cm_evaluator = ComponentMatchingEvaluator()
cm_eval_result = []
for i, row in tqdm(eval_pipeline_test_df.iterrows(),ncols=100,colour="cyan", total= len(eval_pipeline_test_df)):
    gold_sql = row["gold_sql"]
    pred_sql = row["pred_sql"]
    print(f"##### {i}th DEBUG LOG #####")
    print("Gold Sql:", gold_sql)
    print("Pred Sql:", pred_sql)
    cm, detail = cm_evaluator(gold_sql= gold_sql, pred_sql = pred_sql)
    
    cm_eval_result.append(
        {"gold_sql": gold_sql, "pred_sql": pred_sql, "cm_score": cm, "detail": detail}
    )
    print("CM Score", cm   )
    print("CM Detail ", detail)

[nltk_data] Downloading package punkt to /home/azureuser/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package punkt_tab to
[nltk_data]     /home/azureuser/nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!
  0%|                                                                       | 0/549 [00:00<?, ?it/s]

 61%|███████████████████████████████████▉                       | 334/549 [00:00<00:00, 1704.37it/s]

##### 0th DEBUG LOG #####
Gold Sql: SELECT MAX(CAST(`Free Meal Count (K-12)` AS REAL) / `Enrollment (K-12)`) FROM frpm WHERE `County Name` = 'Alameda'
Pred Sql: SELECT max(`free meal count (k-12)`) / max(`enrollment (k-12)`) FROM frpm WHERE `county name` = 'Alameda'
CM Score 0.8571428571428571
CM Detail  {'select': False, 'from': True, 'where': True, 'groupBy': True, 'having': True, 'orderBy': True, 'limit': True}
##### 1th DEBUG LOG #####
Gold Sql: SELECT T2.`Free Meal Count (Ages 5-17)` / T2.`Enrollment (Ages 5-17)` AS EligibleFreeRate FROM schools AS T1 INNER JOIN frpm AS T2 ON T1.CDSCode = T2.CDSCode WHERE T1.EdOpsName = 'Continuation School' AND T2.`Enrollment (Ages 5-17)` > 0 AND T2.`Free Meal Count (Ages 5-17)` IS NOT NULL AND T2.`Enrollment (Ages 5-17)` IS NOT NULL ORDER BY EligibleFreeRate ASC LIMIT 3
Pred Sql: SELECT min(`free meal count (ages 5-17)`) FROM frpm WHERE `educational option type` = 'Continuation School'
CM Score 0.7142857142857143
CM Detail  {'select': False, 'from': False, 'where': True, 'groupBy': True, 'having': True, 'orderBy': True, 'limit': True}
##### 2th DEBUG LOG #####
Gold Sql: SELECT T2.Zip FROM frpm AS T1 INNER JOIN schools AS T2 ON T1.CDSCode = T2.CDSCode WHERE T1.`District Name` = 'Fresno County Office of Education' AND T1.`Charter School (Y/N)` = 1
Pred Sql: SELECT schools.zip FROM schools INNER JOIN frpm ON schools.cdscode = frpm.cdscode WHERE frpm.`charter school (y/n)` = 1 AND schools.county = 'Fresno'
CM Score 0.7142857142857143
CM Detail  {'select': False, 'from': False, 'where': True, 'groupBy': True, 'having': True, 'orderBy': True, 'limit': True}
##### 3th DEBUG LOG #####
Gold Sql: SELECT T2.MailStreet FROM frpm AS T1 INNER JOIN schools AS T2 ON T1.CDSCode = T2.CDSCode ORDER BY T1.`FRPM Count (K-12)` DESC LIMIT 1
Pred Sql: SELECT schools.streetabr FROM frpm INNER JOIN schools ON frpm.cdscode = schools.cdscode ORDER BY frpm.`frpm count (k-12)` DESC LIMIT 1
CM Score 0.8571428571428571
CM Detail  {'select': False, 'from': True, 'where': True, 'groupBy': True, 'having': True, 'orderBy': True, 'limit': True}
##### 8th DEBUG LOG #####
Gold Sql: SELECT T2.School FROM satscores AS T1 INNER JOIN schools AS T2 ON T1.cds = T2.CDSCode WHERE T1.NumTstTakr > 500 AND T2.Magnet = 1
Pred Sql: SELECT schools.school FROM schools INNER JOIN satscores ON schools.cdscode = satscores.cds WHERE satscores.numge1500 > 500 AND schools.magnet = 1
CM Score 0.7142857142857143
CM Detail  {'select': False, 'from': False, 'where': True, 'groupBy': True, 'having': True, 'orderBy': True, 'limit': True}
##### 9th DEBUG LOG #####
Gold Sql: SELECT T2.Phone FROM satscores AS T1 INNER JOIN schools AS T2 ON T1.cds = T2.CDSCode WHERE T1.NumGE1500 IS NOT NULL ORDER BY T1.NumGE1500 DESC LIMIT 1
Pred Sql: select schools.phone from schools inner join satscores on schools.cdscode = satscores.cds where satscores.numge1500 group by schools.phone order by count(satscores.numge1500) desc limit 1
CM Score 0.7142857142857143
CM Detail  {'select': False, 'from': False, 'where': True, 'groupBy': True, 'having': True, 'orderBy': True, 'limit': True}
##### 10th DEBUG LOG #####
Gold Sql: SELECT T2.NumTstTakr FROM frpm AS T1 INNER JOIN satscores AS T2 ON T1.CDSCode = T2.cds WHERE T1.`FRPM Count (K-12)` = (SELECT MAX(`FRPM Count (K-12)`) FROM frpm)
Pred Sql: SELECT satscores.numtsttakr FROM frpm INNER JOIN satscores ON frpm.`school code` = satscores.sname ORDER BY frpm.`frpm count (k-12)` DESC LIMIT 1
CM Score 0.8571428571428571
CM Detail  {'select': False, 'from': True, 'where': True, 'groupBy': True, 'having': True, 'orderBy': True, 'limit': True}
##### 13th DEBUG LOG #####
Gold Sql: SELECT frpm.`frpm count (ages 5-17)` FROM frpm INNER JOIN satscores ON frpm.cdscode = satscores.cds ORDER BY satscores.avgscrread DESC LIMIT 1
Pred Sql: SELECT T2.`FRPM Count (Ages 5-17)` FROM satscores AS T1 INNER JOIN frpm AS T2 ON T1.cds = T2.CDSCode WHERE T1.AvgScrRead = (SELECT MAX(AvgScrRead) FROM satscores WHERE AvgScrRead IS NOT NULL)
CM Score 0.7142857142857143
CM Detail  {'select': False, 'from': False, 'where': True, 'groupBy': True, 'having': True, 'orderBy': True, 'limit': True}
##### 14th DEBUG LOG #####
Gold Sql: SELECT MAX(CAST(T2.`Free Meal Count (Ages 5-17)` AS REAL) / T2.`Enrollment (Ages 5-17)`) AS HighestEligibleFreeRate FROM satscores AS T1 INNER JOIN frpm AS T2 ON T1.cds = T2.CDSCode WHERE T1.NumGE1500 * 100 / T1.NumTstTakr > 30 AND T2.`Enrollment (Ages 5-17)` IS NOT NULL AND T2.`Free Meal Count (Ages 5-17)` IS NOT NULL
Pred Sql: SELECT max(`free meal count (ages 5-17)`) FROM frpm WHERE `percent (%) eligible free (ages 5-17)` = ( SELECT max(`percent (%) eligible free (ages 5-17)`) FROM frpm )
CM Score 0.5714285714285714
CM Detail  {'select': False, 'from': False, 'where': False, 'groupBy': True, 'having': True, 'orderBy': True, 'limit': True}
##### 15th DEBUG LOG #####
Gold Sql: SELECT T2.District FROM satscores AS T1 INNER JOIN schools AS T2 ON T1.cds = T2.CDSCode WHERE T2.StatusType = 'Active' ORDER BY T1.AvgScrRead DESC LIMIT 1
Pred Sql: select schools.district from schools inner join satscores on schools.cdscode = satscores.cds where schools.statustype = 'Active' and schools.admlname1 = 'Reading' order by satscores.avgscrread desc limit 1
CM Score 0.7142857142857143
CM Detail  {'select': False, 'from': False, 'where': True, 'groupBy': True, 'having': True, 'orderBy': True, 'limit': True}
##### 16th DEBUG LOG #####
Gold Sql: SELECT T2.District FROM satscores AS T1 INNER JOIN schools AS T2 ON T1.cds = T2.CDSCode WHERE T2.StatusType = 'Active' ORDER BY T1.AvgScrRead DESC LIMIT 1
Pred Sql: SELECT schools.district FROM schools INNER JOIN satscores ON schools.cdscode = satscores.cds WHERE schools.virtual = 'N' GROUP BY schools.district ORDER BY avg(satscores.avgscrread) DESC LIMIT 1
CM Score 0.7142857142857143
CM Detail  {'select': False, 'from': False, 'where': True, 'groupBy': True, 'having': True, 'orderBy': True, 'limit': True}
##### 20th DEBUG LOG #####
Gold Sql: SELECT schools.phone FROM satscores INNER JOIN schools ON satscores.cds = schools.cdscode ORDER BY satscores.avgscrmath DESC LIMIT 1
Pred Sql: select schools.phone from schools inner join satscores on schools.cdscode = satscores.cds where satscores.avgscrmath = ( select max(avgscrmath) from satscores )
CM Score 0.8571428571428571
CM Detail  {'select': True, 'from': False, 'where': True, 'groupBy': True, 'having': True, 'orderBy': True, 'limit': True}
##### 21th DEBUG LOG #####
Gold Sql: SELECT COUNT(CDSCode) FROM frpm WHERE `Free Meal Count (K-12)` > 500 AND `FRPM Count (K-12)` < 700 AND `County Name` = 'Los Angeles'
Pred Sql: SELECT count(schools.school) FROM schools INNER JOIN frpm ON schools.cdscode = frpm.cdscode WHERE schools.city = 'Los Angeles' AND frpm.`free meal count (k-12)` BETWEEN 500 AND 700
CM Score 0.7142857142857143
CM Detail  {'select': False, 'from': False, 'where': True, 'groupBy': True, 'having': True, 'orderBy': True, 'limit': True}
##### 30th DEBUG LOG #####
Gold Sql: SELECT T2.`FRPM Count (K-12)` / T2.`Enrollment (K-12)` AS Eligible_FRPM_Rate FROM schools AS T1 INNER JOIN frpm AS T2 ON T1.CDSCode = T2.CDSCode WHERE T1.SOC = 66 AND T2.`Enrollment (K-12)` IS NOT NULL ORDER BY T2.`FRPM Count (K-12)` DESC LIMIT 5
Pred Sql: SELECT frpm.`free meal count (k-12)` / frpm.`enrollment (k-12)` FROM frpm INNER JOIN schools ON frpm.cdscode = schools.cdscode WHERE schools.soc = 66 ORDER BY frpm.`free meal count (k-12)` DESC LIMIT 5
CM Score 0.7142857142857143
CM Detail  {'select': False, 'from': False, 'where': True, 'groupBy': True, 'having': True, 'orderBy': True, 'limit': True}
##### 32th DEBUG LOG #####
Gold Sql: SELECT T2.AdmFName1, T2.AdmLName1, T2.AdmFName2, T2.AdmLName2, T2.AdmFName3, T2.AdmLName3 FROM satscores AS T1 INNER JOIN schools AS T2 ON T1.cds = T2.CDSCode WHERE T1.NumGE1500 IS NOT NULL ORDER BY T1.NumGE1500 DESC LIMIT 1
Pred Sql: SELECT schools.admfname1, schools.admfname2, schools.admfname3, schools.admlname1, schools.admlname2, schools.admlname3 FROM satscores INNER JOIN schools ON satscores.cds = schools.cdscode WHERE satscores.numge1500 = ( SELECT max(numge1500) FROM satscores )
CM Score 0.8571428571428571
CM Detail  {'select': False, 'from': True, 'where': True, 'groupBy': True, 'having': True, 'orderBy': True, 'limit': True}
##### 33th DEBUG LOG #####
Gold Sql: SELECT T1.Website FROM schools AS T1 INNER JOIN satscores AS T2 ON T1.CDSCode = T2.cds WHERE T2.NumTstTakr BETWEEN 2000 AND 3000 AND T1.County = 'Los Angeles'
Pred Sql: select distinct schools.website from satscores inner join schools on satscores.cds = schools.cdscode inner join frpm on schools.cdscode = frpm.cdscode where satscores.cname = 'Los Angeles' and satscores.numtsttakr between 2000 and 3000
CM Score 0.7142857142857143
CM Detail  {'select': False, 'from': False, 'where': True, 'groupBy': True, 'having': True, 'orderBy': True, 'limit': True}
##### 34th DEBUG LOG #####
Gold Sql: SELECT T1.Website FROM schools AS T1 INNER JOIN satscores AS T2 ON T1.CDSCode = T2.cds WHERE T2.NumTstTakr BETWEEN 2000 AND 3000 AND T1.County = 'Los Angeles'
Pred Sql: SELECT schools.website FROM satscores INNER JOIN schools ON satscores.cds = schools.cdscode WHERE satscores.numtsttakr BETWEEN 2000 AND 3000
CM Score 0.7142857142857143
CM Detail  {'select': False, 'from': False, 'where': True, 'groupBy': True, 'having': True, 'orderBy': True, 'limit': True}
##### 35th DEBUG LOG #####
Gold Sql: SELECT AVG(T2.NumTstTakr) FROM schools AS T1 INNER JOIN satscores AS T2 ON T1.CDSCode = T2.cds WHERE T1.County = 'Fresno' AND STRFTIME('%Y', T1.OpenDate) = '1980'
Pred Sql: select avg(satscores.numtsttakr) from schools inner join satscores on schools.cdscode = satscores.cds where schools.opendate between '1980-01-01' and '1980-12-31'
CM Score 0.8571428571428571
CM Detail  {'select': False, 'from': True, 'where': True, 'groupBy': True, 'having': True, 'orderBy': True, 'limit': True}
##### 36th DEBUG LOG #####
Gold Sql: SELECT T2.EdOpsName FROM satscores AS T1 INNER JOIN schools AS T2 ON T1.cds = T2.CDSCode WHERE T1.AvgScrMath IS NOT NULL ORDER BY T1.AvgScrMath DESC LIMIT 1
Pred Sql: select schools.edopscode from schools inner join frpm on schools.cdscode = frpm.cdscode inner join satscores on schools.cdscode = satscores.cds order by satscores.avgscrmath desc limit 1
CM Score 0.7142857142857143
CM Detail  {'select': False, 'from': False, 'where': True, 'groupBy': True, 'having': True, 'orderBy': True, 'limit': True}
##### 37th DEBUG LOG #####
Gold Sql: SELECT T2.School FROM frpm AS T1 INNER JOIN schools AS T2 ON T1.CDSCode = T2.CDSCode WHERE T2.DOC = '31' AND T1.`Enrollment (K-12)` IS NOT NULL ORDER BY T1.`Enrollment (K-12)` DESC LIMIT 1
Pred Sql: SELECT schools.state FROM schools INNER JOIN frpm ON schools.cdscode = frpm.cdscode WHERE schools.doc = 31 AND schools.gsserved = 'K-12' GROUP BY schools.state ORDER BY sum(frpm.`enrollment (k-12)`) DESC LIMIT 1
CM Score 0.7142857142857143
CM Detail  {'select': False, 'from': False, 'where': True, 'groupBy': True, 'having': True, 'orderBy': True, 'limit': True}
##### 38th DEBUG LOG #####
Gold Sql: SELECT CAST(COUNT(CDSCode) AS REAL) / 12 FROM schools WHERE County = 'Alameda' AND DOC = 52 AND strftime('%Y', OpenDate) = '1980'
Pred Sql: select cast(sum(case when schools.opendate = 1980 then 1 else 0 end) as real) / 12 from schools inner join frpm on schools.cdscode = frpm.cdscode where schools.county = 'Alameda' and schools.doctype = 'Elementary School District'
CM Score 0.7142857142857143
CM Detail  {'select': False, 'from': True, 'where': False, 'groupBy': True, 'having': True, 'orderBy': True, 'limit': True}
##### 39th DEBUG LOG #####
Gold Sql: SELECT CAST(COUNT(CDSCode) AS REAL) / 12 FROM schools WHERE County = 'Alameda' AND DOC = 52 AND strftime('%Y', OpenDate) = '1980'
Pred Sql: SELECT cast(sum(CASE WHEN schools.opendate LIKE '1980%' THEN 1 ELSE 0 END) AS REAL) / 12 FROM schools INNER JOIN frpm ON schools.cdscode = frpm.cdscode WHERE schools.county = 'Alameda' AND schools.doc = 52
CM Score 0.7142857142857143
CM Detail  {'select': False, 'from': True, 'where': False, 'groupBy': True, 'having': True, 'orderBy': True, 'limit': True}
##### 40th DEBUG LOG #####
Gold Sql: SELECT CAST(SUM(CASE WHEN DOC = 54 THEN 1 ELSE 0 END) AS REAL) / SUM(CASE WHEN DOC = 52 THEN 1 ELSE 0 END) FROM schools WHERE County = 'Orange' AND StatusType = 'Merged'
Pred Sql: select cast(sum(case when schools.doctype = 'Unified School District' then 1 else 0 end) as real) / count(schools.school) from schools inner join frpm on schools.cdscode = frpm.cdscode where schools.county = 'Orange'
CM Score 0.8571428571428571
CM Detail  {'select': False, 'from': True, 'where': True, 'groupBy': True, 'having': True, 'orderBy': True, 'limit': True}
##### 41th DEBUG LOG #####
Gold Sql: SELECT CAST(SUM(CASE WHEN DOC = 54 THEN 1 ELSE 0 END) AS REAL) / SUM(CASE WHEN DOC = 52 THEN 1 ELSE 0 END) FROM schools WHERE County = 'Orange' AND StatusType = 'Merged'
Pred Sql: SELECT cast(sum(CASE WHEN schools.doc = 54 THEN 1 ELSE 0 END) AS REAL) * 100 / sum(CASE WHEN schools.doc = 52 THEN 1 ELSE 0 END) FROM schools INNER JOIN frpm ON schools.cdscode = frpm.cdscode WHERE schools.county = 'Orange'
CM Score 0.8571428571428571
CM Detail  {'select': False, 'from': True, 'where': True, 'groupBy': True, 'having': True, 'orderBy': True, 'limit': True}
##### 45th DEBUG LOG #####
Gold Sql: SELECT T2.MailStreet, T2.School FROM satscores AS T1 INNER JOIN schools AS T2 ON T1.cds = T2.CDSCode WHERE T1.AvgScrRead IS NOT NULL ORDER BY T1.AvgScrRead ASC LIMIT 1
Pred Sql: select schools.mailstrabr , schools.school from satscores inner join schools on satscores.cds = schools.cdscode inner join frpm on schools.cdscode = frpm.cdscode order by satscores.avgscrread asc limit 1
CM Score 0.8571428571428571
CM Detail  {'select': False, 'from': True, 'where': True, 'groupBy': True, 'having': True, 'orderBy': True, 'limit': True}
##### 46th DEBUG LOG #####
Gold Sql: SELECT T2.MailStreet, T2.School FROM satscores AS T1 INNER JOIN schools AS T2 ON T1.cds = T2.CDSCode WHERE T1.AvgScrRead IS NOT NULL ORDER BY T1.AvgScrRead ASC LIMIT 1
Pred Sql: SELECT schools.mailstreet, satscores.sname FROM satscores INNER JOIN schools ON satscores.cds = schools.cdscode ORDER BY satscores.avgscrread ASC LIMIT 1
CM Score 0.8571428571428571
CM Detail  {'select': False, 'from': True, 'where': True, 'groupBy': True, 'having': True, 'orderBy': True, 'limit': True}
##### 47th DEBUG LOG #####
Gold Sql: SELECT COUNT(T1.cds) FROM satscores AS T1 INNER JOIN schools AS T2 ON T1.cds = T2.CDSCode WHERE T2.MailCity = 'Lakeport' AND T1.AvgScrRead + T1.AvgScrMath + T1.AvgScrWrite >= 1500
Pred Sql: select count(schools.school) from schools inner join satscores on schools.cdscode = satscores.cds where schools.mailcity = 'Lakeport' and satscores.numge1500 > satscores.avgscrread + satscores.avgscrmath + satscores.avgscrwrite
CM Score 0.7142857142857143
CM Detail  {'select': False, 'from': False, 'where': True, 'groupBy': True, 'having': True, 'orderBy': True, 'limit': True}
##### 48th DEBUG LOG #####
Gold Sql: SELECT COUNT(T1.cds) FROM satscores AS T1 INNER JOIN schools AS T2 ON T1.cds = T2.CDSCode WHERE T2.MailCity = 'Lakeport' AND T1.AvgScrRead + T1.AvgScrMath + T1.AvgScrWrite >= 1500
Pred Sql: SELECT count(schools.school) FROM schools INNER JOIN satscores ON schools.cdscode = satscores.cds WHERE schools.mailcity = 'Lakeport' AND satscores.avgscrread + satscores.avgscrmath + satscores.avgscrwrite >= 1500
CM Score 0.7142857142857143
CM Detail  {'select': False, 'from': False, 'where': True, 'groupBy': True, 'having': True, 'orderBy': True, 'limit': True}
##### 49th DEBUG LOG #####
Gold Sql: SELECT school, mailzip FROM schools WHERE admlname1 = 'Atoian' AND admfname1 = 'Avetik'
Pred Sql: select mailzip from schools where admfname1 = 'Avetik' and admlname2 = 'Atoian'
CM Score 0.8571428571428571
CM Detail  {'select': False, 'from': True, 'where': True, 'groupBy': True, 'having': True, 'orderBy': True, 'limit': True}
##### 50th DEBUG LOG #####
Gold Sql: SELECT school, mailzip FROM schools WHERE admlname1 = 'Atoian' AND admfname1 = 'Avetik'
Pred Sql: SELECT School, MailZip FROM schools WHERE AdmFName2 = 'Avetik' AND AdmLName2 = 'Atoian'
CM Score 1.0
CM Detail  {'select': True, 'from': True, 'where': True, 'groupBy': True, 'having': True, 'orderBy': True, 'limit': True}
##### 51th DEBUG LOG #####
Gold Sql: SELECT CAST(SUM(CASE WHEN County = 'Colusa' THEN 1 ELSE 0 END) AS REAL) / SUM(CASE WHEN County = 'Humboldt' THEN 1 ELSE 0 END) FROM schools WHERE MailState = 'CA'
Pred Sql: select cast(sum(case when county = 'Colusa' then 1 else 0 end) as real) * 100 / sum(case when county = 'Humboldt' then 1 else 0 end) from schools
CM Score 0.8571428571428571
CM Detail  {'select': False, 'from': True, 'where': True, 'groupBy': True, 'having': True, 'orderBy': True, 'limit': True}
##### 52th DEBUG LOG #####
Gold Sql: SELECT CAST(SUM(CASE WHEN County = 'Colusa' THEN 1 ELSE 0 END) AS REAL) / SUM(CASE WHEN County = 'Humboldt' THEN 1 ELSE 0 END) FROM schools WHERE MailState = 'CA'
Pred Sql: SELECT cast(sum(CASE WHEN county = 'Colusa' THEN 1 ELSE 0 END) AS REAL) * 100 / sum(CASE WHEN county = 'Humboldt' THEN 1 ELSE 0 END) FROM schools WHERE mailstate = 'CA'
CM Score 0.8571428571428571
CM Detail  {'select': False, 'from': True, 'where': True, 'groupBy': True, 'having': True, 'orderBy': True, 'limit': True}
##### 53th DEBUG LOG #####
Gold Sql: SELECT T1.Phone, T1.Ext FROM schools AS T1 INNER JOIN satscores AS T2 ON T1.CDSCode = T2.cds WHERE T2.AvgScrWrite IS NOT NULL ORDER BY T2.AvgScrWrite DESC LIMIT 332, 1
Pred Sql: select schools.phone , schools.ext from schools inner join satscores on schools.cdscode = satscores.cds where satscores.avgscrwrite = ( select max(avgscrwrite) from satscores )
CM Score 0.8571428571428571
CM Detail  {'select': False, 'from': True, 'where': True, 'groupBy': True, 'having': True, 'orderBy': True, 'limit': True}
##### 54th DEBUG LOG #####
Gold Sql: SELECT schools.phone, schools.ext, schools.school FROM schools INNER JOIN frpm ON schools.cdscode = frpm.cdscode WHERE schools.zip = '95203-3704'
Pred Sql: select phone , ext from schools where zip = '95203-3704'
CM Score 0.8571428571428571
CM Detail  {'select': False, 'from': True, 'where': True, 'groupBy': True, 'having': True, 'orderBy': True, 'limit': True}
##### 55th DEBUG LOG #####
Gold Sql: SELECT Website FROM schools WHERE (AdmFName1 = 'Mike' AND AdmLName1 = 'Larson') OR (AdmFName1 = 'Dante' AND AdmLName1 = 'Alvarez')
Pred Sql: select website from schools where admfname1 = 'Mike' and admlname1 = 'Dante'
CM Score 1.0
CM Detail  {'select': True, 'from': True, 'where': True, 'groupBy': True, 'having': True, 'orderBy': True, 'limit': True}
##### 56th DEBUG LOG #####
Gold Sql: SELECT AdmFName1, AdmLName1, School, City FROM schools WHERE CharterNum = '00D2' AND Charter = 1
Pred Sql: select schools.admfname1 , schools.city from schools inner join frpm on schools.cdscode = frpm.cdscode where schools.charternum = '00D2'
CM Score 0.8571428571428571
CM Detail  {'select': False, 'from': True, 'where': True, 'groupBy': True, 'having': True, 'orderBy': True, 'limit': True}
##### 57th DEBUG LOG #####
Gold Sql: SELECT AdmFName1, AdmLName1, School, City FROM schools WHERE CharterNum = '00D2' AND Charter = 1
Pred Sql: SELECT schools.admfname1, schools.admlname1, schools.school, schools.city FROM schools INNER JOIN frpm ON schools.cdscode = frpm.`charter school number` WHERE frpm.`charter school number` = '00D2'
CM Score 0.8571428571428571
CM Detail  {'select': False, 'from': True, 'where': True, 'groupBy': True, 'having': True, 'orderBy': True, 'limit': True}
##### 60th DEBUG LOG #####
Gold Sql: SELECT count(*) FROM schools WHERE fundingtype = 'Directly funded' AND county = 'Stanislaus' AND opendate BETWEEN '2000-01-01' AND '2005-12-31'

100%|███████████████████████████████████████████████████████████| 549/549 [00:00<00:00, 1665.17it/s]

CM Score 0.5714285714285714
CM Detail  {'select': True, 'from': True, 'where': False, 'groupBy': True, 'having': True, 'orderBy': False, 'limit': False}
##### 612th DEBUG LOG #####
Gold Sql: SELECT surname FROM drivers WHERE nationality = 'Italian'
Pred Sql: select surname from drivers where nationality = 'italian'
CM Score 1.0
CM Detail  {'select': True, 'from': True, 'where': True, 'groupBy': True, 'having': True, 'orderBy': True, 'limit': True}
##### 615th DEBUG LOG #####
Gold Sql: SELECT T2.date FROM circuits AS T1 INNER JOIN races AS T2 ON T1.circuitId = T2.circuitId WHERE T1.name = 'Circuit de Barcelona-Catalunya'
Pred Sql: select races.date from races inner join circuits on races.circuitid = circuits.circuitid where circuits.name = 'Barcelona-Catalunya'
CM Score 0.7142857142857143
CM Detail  {'select': False, 'from': False, 'where': True, 'groupBy': True, 'having': True, 'orderBy': True, 'limit': True}
##### 616th DEBUG LOG #####
Gold Sql: select circuits.url from races inner join circuits on races.circuitid = circuits.circuitid where races.year = 2009 and races.name = 'Spanish Grand Prix'
Pred Sql: SELECT races.url FROM races INNER JOIN circuits ON races.circuitid = circuits.circuitid WHERE races.year = 2009 AND races.name = 'Spanish Grand Prix'
CM Score 0.8571428571428571
CM Detail  {'select': False, 'from': True, 'where': True, 'groupBy': True, 'having': True, 'orderBy': True, 'limit': True}
##### 617th DEBUG LOG #####
Gold Sql: SELECT drivers.forename, drivers.surname FROM results INNER JOIN drivers ON results.driverid = drivers.driverid ORDER BY results.fastestlapspeed DESC LIMIT 1
Pred Sql: select drivers.forename , drivers.surname from drivers inner join results on drivers.driverid = results.driverid inner join laptimes on results.driverid = laptimes.driverid inner join races on laptimes.raceid = races.raceid where races.name = 'Formula1' order by results.fastestlapspeed desc limit 1
CM Score 0.8571428571428571
CM Detail  {'select': True, 'from': False, 'where': True, 'groupBy': True, 'having': True, 'orderBy': True, 'limit': True}
##### 620th DEBUG LOG #####
Gold Sql: SELECT T2.positionOrder FROM drivers AS T1 INNER JOIN results AS T2 ON T1.driverId = T2.driverId INNER JOIN races AS T3 ON T2.raceId = T3.raceId WHERE T1.forename = 'Lewis' AND T1.surname = 'Hamilton' AND T3.name = 'Australian Grand Prix' AND T3.year = 2008
Pred Sql: select distinct results.positionorder from results inner join driverstandings on results.driverid = driverstandings.driverid inner join races on driverstandings.raceid = races.raceid inner join drivers on driverstandings.driverid = drivers.driverid where drivers.surname = 'Hamilton' and drivers.forename = 'Lewis' and races.year = 2008 and races.name = 'Australian Grand Prix'
CM Score 0.7142857142857143
CM Detail  {'select': False, 'from': False, 'where': True, 'groupBy': True, 'having': True, 'orderBy': True, 'limit': True}
##### 621th DEBUG LOG #####
Gold Sql: SELECT T2.positionOrder FROM drivers AS T1 INNER JOIN results AS T2 ON T1.driverId = T2.driverId INNER JOIN races AS T3 ON T2.raceId = T3.raceId WHERE T1.forename = 'Lewis' AND T1.surname = 'Hamilton' AND T3.name = 'Australian Grand Prix' AND T3.year = 2008
Pred Sql: SELECT results.positionorder FROM races INNER JOIN results ON races.raceid = results.raceid INNER JOIN drivers ON results.driverid = drivers.driverid WHERE races.year = 2008 AND drivers.forename = 'Lewis' AND drivers.surname = 'Hamilton'
CM Score 0.7142857142857143
CM Detail  {'select': False, 'from': False, 'where': True, 'groupBy': True, 'having': True, 'orderBy': True, 'limit': True}
##### 624th DEBUG LOG #####
Gold Sql: SELECT COUNT(T1.raceId) FROM races AS T1 INNER JOIN results AS T2 ON T1.raceId = T2.raceId WHERE T1.year = 2008 AND T1.name = 'Australian Grand Prix' AND T2.time IS NOT NULL
Pred Sql: select count(results.driverid) from results inner join races on results.raceid = races.raceid where races.name = 'Australian Grand Prix' and races.time is not null
CM Score 0.7142857142857143
CM Detail  {'select': False, 'from': False, 'where': True, 'groupBy': True, 'having': True, 'orderBy': True, 'limit': True}
##### 636th DEBUG LOG #####
Gold Sql: SELECT sum(results.points) FROM results INNER JOIN drivers ON results.driverid = drivers.driverid WHERE drivers.forename = 'Lewis' AND drivers.surname = 'Hamilton'
Pred Sql: select sum(results.points) from results inner join driverstandings on results.driverid = driverstandings.driverid inner join drivers on driverstandings.driverid = drivers.driverid where drivers.surname = 'Hamilton' and drivers.forename = 'Lewis'
CM Score 1.0
CM Detail  {'select': True, 'from': True, 'where': True, 'groupBy': True, 'having': True, 'orderBy': True, 'limit': True}
##### 644th DEBUG LOG #####
Gold Sql: SELECT COUNT(*) FROM drivers WHERE nationality = 'British' AND STRFTIME('%Y', dob) > '1980'
Pred Sql: select count(driverid) from drivers where dob > 1980 and nationality = 'British'
CM Score 0.7142857142857143
CM Detail  {'select': False, 'from': True, 'where': False, 'groupBy': True, 'having': True, 'orderBy': True, 'limit': True}
##### 647th DEBUG LOG #####
Gold Sql: SELECT DISTINCT constructors.name FROM constructors INNER JOIN results ON constructors.constructorid = results.constructorid WHERE results.rank = 1
Pred Sql: SELECT T2.name FROM constructorStandings AS T1 INNER JOIN constructors AS T2 ON T1.constructorId = T2.constructorId WHERE T1.position = 1
CM Score 0.7142857142857143
CM Detail  {'select': False, 'from': False, 'where': True, 'groupBy': True, 'having': True, 'orderBy': True, 'limit': True}
##### 651th DEBUG LOG #####
Gold Sql: SELECT cast(sum(CASE WHEN results.time IS NOT NULL THEN 1 ELSE 0 END) AS REAL) * 100 / count(results.driverid) FROM results INNER JOIN races ON results.raceid = races.raceid INNER JOIN drivers ON results.driverid = drivers.driverid WHERE drivers.nationality = 'Japanese' AND races.year BETWEEN 2007 AND 2009
Pred Sql: select cast(sum(case when races.time is not null then 1 else 0 end) as real) * 100 / count(drivers.driverid) from results inner join drivers on results.driverid = drivers.driverid inner join races on results.raceid = races.raceid where races.year between 2007 and 2009
CM Score 0.8571428571428571
CM Detail  {'select': False, 'from': True, 'where': True, 'groupBy': True, 'having': True, 'orderBy': True, 'limit': True}
##### 652th DEBUG LOG #####
Gold Sql: SELECT cast(sum(CASE WHEN results.time IS NOT NULL THEN 1 ELSE 0 END) AS REAL) * 100 / count(results.driverid) FROM results INNER JOIN races ON results.raceid = races.raceid INNER JOIN drivers ON results.driverid = drivers.driverid WHERE drivers.nationality = 'Japanese' AND races.year BETWEEN 2007 AND 2009
Pred Sql: SELECT (CAST(SUM(CASE WHEN T2.time IS NOT NULL THEN 1 ELSE 0 END) AS REAL) / COUNT(*)) * 100 AS completion_percentage FROM races T1 INNER JOIN results T2 ON T1.raceId = T2.raceId INNER JOIN drivers T3 ON T2.driverId = T3.driverId WHERE T3.nationality = 'Japanese' AND T1.year BETWEEN 2007 AND 2009
CM Score 0.7142857142857143
CM Detail  {'select': False, 'from': False, 'where': True, 'groupBy': True, 'having': True, 'orderBy': True, 'limit': True}
##### 656th DEBUG LOG #####
Gold Sql: select drivers.forename , drivers.surname from results inner join drivers on results.driverid = drivers.driverid where results.rank = 2 and strftime('%Y' , drivers.dob) > '1975'
Pred Sql: SELECT drivers.forename, drivers.surname FROM drivers INNER JOIN results ON drivers.driverid = results.driverid WHERE strftime('%Y', drivers.dob) > '1975' AND results.position = 2
CM Score 0.8571428571428571
CM Detail  {'select': True, 'from': False, 'where': True, 'groupBy': True, 'having': True, 'orderBy': True, 'limit': True}
##### 657th DEBUG LOG #####
Gold Sql: select drivers.forename , drivers.surname from results inner join drivers on results.driverid = drivers.driverid where results.rank = 2 and strftime('%Y' , drivers.dob) > '1975'
Pred Sql: SELECT T1.forename, T1.surname FROM drivers AS T1 INNER JOIN driverStandings AS T2 ON T1.driverId = T2.driverId WHERE T2.position = 2 AND STRFTIME('%Y', T1.dob) > '1975'
CM Score 0.7142857142857143
CM Detail  {'select': False, 'from': False, 'where': True, 'groupBy': True, 'having': True, 'orderBy': True, 'limit': True}
##### 658th DEBUG LOG #####
Gold Sql: SELECT count(drivers.driverid) FROM drivers INNER JOIN results ON drivers.driverid = results.driverid WHERE drivers.nationality = 'Italian' AND results.time IS NULL
Pred Sql: select count(drivers.driverid) from results inner join drivers on results.driverid = drivers.driverid inner join races on results.raceid = races.raceid where drivers.nationality = 'Italian' and races.time is null
CM Score 0.8571428571428571
CM Detail  {'select': True, 'from': False, 'where': True, 'groupBy': True, 'having': True, 'orderBy': True, 'limit': True}
##### 661th DEBUG LOG #####
Gold Sql: SELECT races.name, races.year FROM races INNER JOIN results ON races.raceid = results.raceid WHERE results.milliseconds IS NOT NULL ORDER BY results.milliseconds ASC LIMIT 1
Pred Sql: select distinct races.name , races.year from results inner join races on results.raceid = races.raceid where results.milliseconds is null order by results.milliseconds asc limit 1
CM Score 0.8571428571428571
CM Detail  {'select': True, 'from': False, 'where': True, 'groupBy': True, 'having': True, 'orderBy': True, 'limit': True}
##### 666th DEBUG LOG #####
Gold Sql: SELECT code FROM drivers WHERE nationality = 'American'
Pred Sql: SELECT code FROM drivers WHERE nationality = 'America'
CM Score 1.0
CM Detail  {'select': True, 'from': True, 'where': True, 'groupBy': True, 'having': True, 'orderBy': True, 'limit': True}
##### 667th DEBUG LOG #####
Gold Sql: WITH Top3Youngest AS (SELECT driverId, nationality FROM drivers ORDER BY dob DESC LIMIT 3) SELECT COUNT(*) FROM Top3Youngest WHERE nationality = 'Dutch';
Pred Sql: select code from drivers where nationality = 'Dutch' order by dob asc limit 3
CM Score 0.42857142857142855
CM Detail  {'select': False, 'from': True, 'where': False, 'groupBy': True, 'having': True, 'orderBy': False, 'limit': False}
##### 668th DEBUG LOG #####
Gold Sql: WITH Top3Youngest AS (SELECT driverId, nationality FROM drivers ORDER BY dob DESC LIMIT 3) SELECT COUNT(*) FROM Top3Youngest WHERE nationality = 'Dutch';
Pred Sql: SELECT count(drivers.driverid) FROM drivers INNER JOIN driverstandings ON drivers.driverid = driverstandings.driverid WHERE drivers.nationality = 'Dutch' ORDER BY strftime('%Y', drivers.dob) DESC LIMIT 3
CM Score 0.5714285714285714
CM Detail  {'select': False, 'from': True, 'where': True, 'groupBy': True, 'having': True, 'orderBy': False, 'limit': False}
##### 670th DEBUG LOG #####
Gold Sql: SELECT DISTINCT drivers.driverid, drivers.code FROM drivers INNER JOIN results ON drivers.driverid = results.driverid WHERE substr(drivers.dob, 1, 4) = '1971' AND results.fastestlaptime IS NOT NULL
Pred Sql: select distinct drivers.driverid , drivers.code from drivers inner join results on drivers.driverid = results.driverid inner join laptimes on results.raceid = laptimes.raceid where drivers.dob = ( select max(dob) from drivers where dob = 1971 )
CM Score 1.0
CM Detail  {'select': True, 'from': True, 'where': True, 'groupBy': True, 'having': True, 'orderBy': True, 'limit': True}
##### 671th DEBUG LOG #####
Gold Sql: SELECT DISTINCT races.year FROM races INNER JOIN results ON races.raceid = results.raceid WHERE results.fastestlaptime IS NOT NULL
Pred Sql: select distinct races.year from races inner join laptimes on races.raceid = laptimes.raceid where laptimes.lap = ( select fastestlaptime from results order by fastestlaptime desc limit 1 )
CM Score 1.0
CM Detail  {'select': True, 'from': True, 'where': True, 'groupBy': True, 'having': True, 'orderBy': True, 'limit': True}
##### 672th DEBUG LOG #####
Gold Sql: SELECT DISTINCT races.year FROM races INNER JOIN results ON races.raceid = results.raceid WHERE results.fastestlaptime IS NOT NULL
Pred Sql: SELECT T1.year FROM races AS T1 INNER JOIN results AS T2 ON T1.raceId = T2.raceId WHERE T2.fastestLapTime IS NOT NULL ORDER BY T2.fastestLapTime ASC LIMIT 1
CM Score 0.8571428571428571
CM Detail  {'select': False, 'from': True, 'where': True, 'groupBy': True, 'having': True, 'orderBy': True, 'limit': True}
##### 673th DEBUG LOG #####
Gold Sql: SELECT T2.year FROM lapTimes AS T1 INNER JOIN races AS T2 ON T1.raceId = T2.raceId ORDER BY T1.time DESC LIMIT 1
Pred Sql: SELECT races.year FROM races INNER JOIN results ON races.raceid = results.raceid ORDER BY results.fastestlapspeed DESC LIMIT 1
CM Score 0.7142857142857143
CM Detail  {'select': False, 'from': False, 'where': True, 'groupBy': True, 'having': True, 'orderBy': True, 'limit': True}
##### 677th DEBUG LOG #####
Gold Sql: SELECT COUNT(T1.raceId) FROM races AS T1 INNER JOIN results AS T2 ON T1.raceId = T2.raceId WHERE T1.raceId BETWEEN 50 AND 100 AND T2.statusId = 2 AND T2.time IS NOT NULL
Pred Sql: select count(results.statusid) from results inner join status on results.statusid = status.statusid where results.raceid between 50 and 100 and status.status = 2
CM Score 0.7142857142857143
CM Detail  {'select': False, 'from': False, 'where': True, 'groupBy': True, 'having': True, 'orderBy': True, 'limit': True}
##### 678th DEBUG LOG #####
Gold Sql: SELECT COUNT(T1.raceId) FROM races AS T1 INNER JOIN results AS T2 ON T1.raceId = T2.raceId WHERE T1.raceId BETWEEN 50 AND 100 AND T2.statusId = 2 AND T2.time IS NOT NULL
Pred Sql: SELECT count(results.driverid) FROM results INNER JOIN status ON results.statusid = status.statusid WHERE status.statusid = 2 AND results.raceid BETWEEN 50 AND 100
CM Score 0.7142857142857143
CM Detail  {'select': False, 'from': False, 'where': True, 'groupBy': True, 'having': True, 'orderBy': True, 'limit': True}
##### 679th DEBUG LOG #####
Gold Sql: SELECT races.year, races.name, races.date, races.time FROM drivers INNER JOIN qualifying ON drivers.driverid = qualifying.driverid INNER JOIN races ON qualifying.raceid = races.raceid ORDER BY drivers.dob DESC LIMIT 1
Pred Sql: select distinct races.year , races.date , races.time from qualifying inner join races on qualifying.raceid = races.raceid inner join drivers on drivers.driverid = qualifying.driverid order by drivers.dob desc limit 1
CM Score 0.7142857142857143
CM Detail  {'select': False, 'from': False, 'where': True, 'groupBy': True, 'having': True, 'orderBy': True, 'limit': True}
##### 682th DEBUG LOG #####
Gold Sql: SELECT T1.url FROM constructors AS T1 INNER JOIN constructorStandings AS T2 ON T1.constructorId = T2.constructorId WHERE T1.nationality = 'Italian' ORDER BY T2.points DESC LIMIT 1
Pred Sql: select constructors.name , constructors.url from constructors inner join constructorresults on constructors.constructorid = constructorresults.constructorid where constructors.nationality = 'Italian' order by constructorresults.points desc limit 1
CM Score 0.8571428571428571
CM Detail  {'select': False, 'from': True, 'where': True, 'groupBy': True, 'having': True, 'orderBy': True, 'limit': True}
##### 683th DEBUG LOG #####
Gold Sql: SELECT drivers.forename, drivers.surname FROM drivers INNER JOIN pitstops ON drivers.driverid = pitstops.driverid WHERE drivers.nationality = 'German' AND strftime('%Y', drivers.dob) BETWEEN '1980' AND '1985' GROUP BY drivers.driverid ORDER BY sum(pitstops.duration) / count(pitstops.duration) ASC LIMIT 5
Pred Sql: select distinct drivers.forename , drivers.surname from drivers inner join pitstops on drivers.driverid = pitstops.driverid where drivers.nationality = 'German' and drivers.dob between 1980 and 1985 order by pitstops.duration asc limit 5
CM Score 1.0
CM Detail  {'select': True, 'from': True, 'where': True, 'groupBy': True, 'having': True, 'orderBy': True, 'limit': True}
##### 684th DEBUG LOG #####
Gold Sql: SELECT drivers.forename, drivers.surname FROM drivers INNER JOIN pitstops ON drivers.driverid = pitstops.driverid WHERE drivers.nationality = 'German' AND strftime('%Y', drivers.dob) BETWEEN '1980' AND '1985' GROUP BY drivers.driverid ORDER BY sum(pitstops.duration) / count(pitstops.duration) ASC LIMIT 5
Pred Sql: SELECT T1.driverId FROM drivers AS T1 INNER JOIN pitStops AS T2 ON T1.driverId = T2.driverId WHERE T1.nationality = 'German' AND T1.dob BETWEEN '1980-01-01' AND '1985-12-31' GROUP BY T1.driverId ORDER BY SUM(T2.duration) / COUNT(T2.duration) LIMIT 5
CM Score 0.8571428571428571
CM Detail  {'select': False, 'from': True, 'where': True, 'groupBy': True, 'having': True, 'orderBy': True, 'limit': True}
##### 685th DEBUG LOG #####
Gold Sql: SELECT results.time FROM races INNER JOIN results ON races.raceid = results.raceid WHERE races.name = 'Canadian Grand Prix' AND races.year = 2008 ORDER BY results.points DESC LIMIT 1
Pred Sql: select drivers.forename , drivers.surname , results.time from drivers inner join results on drivers.driverid = results.driverid inner join races on results.raceid = races.raceid where races.name = 'Canadian Grand Prix' and races.year = 2008 order by results.time desc limit 1
CM Score 0.7142857142857143
CM Detail  {'select': False, 'from': False, 'where': True, 'groupBy': True, 'having': True, 'orderBy': True, 'limit': True}
##### 686th DEBUG LOG #####
Gold Sql: SELECT T3.constructorRef, T3.url FROM results AS T1 INNER JOIN races AS T2 ON T1.raceId = T2.raceId INNER JOIN constructors AS T3 ON T1.constructorId = T3.constructorId WHERE T2.year = 2009 AND T2.name = 'Singapore Grand Prix' ORDER BY T1.positionOrder LIMIT 1
Pred Sql: select results.constructorid , races.url from results inner join races on results.raceid = races.raceid inner join driverstandings on races.raceid = driverstandings.raceid where races.name = 'Singapore Grand Prix' and driverstandings.driverid = 0 order by results.time desc limit 1
CM Score 0.8571428571428571
CM Detail  {'select': False, 'from': True, 'where': True, 'groupBy': True, 'having': True, 'orderBy': True, 'limit': True}
##### 687th DEBUG LOG #####
Gold Sql: SELECT forename, surname, dob FROM drivers WHERE nationality = 'Austrian' AND STRFTIME('%Y', dob) BETWEEN '1981' AND '1991'
Pred Sql: select forename , surname , dob from drivers where nationality = 'Austria' and strftime('%Y' , dob) between '1981' and '1991'
CM Score 0.8571428571428571
CM Detail  {'select': True, 'from': True, 'where': False, 'groupBy': True, 'having': True, 'orderBy': True, 'limit': True}
##### 688th DEBUG LOG #####
Gold Sql: SELECT forename, surname, url, dob FROM drivers WHERE nationality = 'German' AND dob BETWEEN '1971-01-01' AND '1985-12-31' ORDER BY dob DESC
Pred Sql: SELECT surname, forename, dob, url FROM drivers WHERE nationality = 'German' AND strftime('%Y', dob) BETWEEN '1971' AND '1985' ORDER BY dob DESC
CM Score 0.8571428571428571
CM Detail  {'select': True, 'from': True, 'where': False, 'groupBy': True, 'having': True, 'orderBy': True, 'limit': True}
##### 691th DEBUG LOG #####
Gold Sql: select nationality from drivers group by nationality order by count(driverid) desc limit 1
Pred Sql: SELECT nationality FROM drivers GROUP BY nationality ORDER BY count(nationality) DESC
CM Score 0.7142857142857143
CM Detail  {'select': True, 'from': True, 'where': True, 'groupBy': True, 'having': True, 'orderBy': False, 'limit': False}
##### 696th DEBUG LOG #####
Gold Sql: SELECT drivers.forename, drivers.surname, drivers.nationality, races.name FROM races INNER JOIN results ON races.raceid = results.raceid INNER JOIN drivers ON results.driverid = drivers.driverid ORDER BY drivers.dob DESC LIMIT 1
Pred Sql: select drivers.forename , drivers.nationality , races.name from drivers inner join results on drivers.driverid = results.driverid inner join races on results.raceid = races.raceid order by drivers.dob desc limit 1
CM Score 0.7142857142857143
CM Detail  {'select': False, 'from': False, 'where': True, 'groupBy': True, 'having': True, 'orderBy': True, 'limit': True}
##### 697th DEBUG LOG #####